<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$ | async">
            <mat-expansion-panel-header class="right-aligned-header">
                <mat-panel-title >
                {{post.title}}
                </mat-panel-title>
                <mat-panel-description>     
                     
                </mat-panel-description>
                <button mat-raised-button color="primary" (click)="addlike(post.id,post.like)">Like{{post.like}}</button> 
                     <button mat-raised-button color="primary" (click)="deletpost(post.id)">Delete</button> 
            </mat-expansion-panel-header> 
            <h3>Body:</h3>{{post.body}} 
        </mat-expansion-panel>
    </mat-accordion>
    