<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of Posts$ ">
        <mat-expansion-panel-header>
            <mat-panel-title>
               {{post.id}} ) {{post.title}}
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
        </mat-expansion-panel-header> 
        <div >
            <button mat-raised-button color="primary" (click)="add(post.title,post.body,post.id)">SAVE</button>
        </div>
        <h4 *ngIf = "post.id == postid">{{text}}</h4>
        <h3>Body:</h3>{{post.body}} 
        <h3>Comments:</h3>
        <div *ngFor="let com of comments$ ">
           <div *ngIf = "com.postId == post.id;other"><br> {{com.body}}</div>
        </div>  
    </mat-expansion-panel>
</mat-accordion>
